<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Event Check-in{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('create_event') }}">Create Event</a>
        <a href="{{ url_for('scan') }}">Scan QR</a>
    </nav>

    <main class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </main>

</body>
</html>
